@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap');
@import url('../fonts/iosevka-etoile.css');
/* * {
  font-family: 'Iosevka Etoile Web','IBM Plex Sans', 'Courier New', Courier, monospace;
  color: rgb(34, 34, 34);
  background: #f7f7f7;
} */

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  color:rgb(80, 80, 80);
}
.editor-container {
  display: flex;
  flex-direction: row;
  height: 90vmin;
}

.side-pane-container{
  color:white;
  width: 25%;
  height: 100%;
}

.documentCard {
  border-bottom:.1em solid rgb(105, 105, 105, .2);
  padding-left: 1em;
  border-left:.5vmin solid #f7f7f7;
  
}

.documentCard:active{
  border-left:.5vmin solid rgb(80, 80, 80);
}
.info-wrapper{
  display: flex;
  flex-direction: row;
  align-items: end;

}

.card{
  display:flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin: .2em;

}
.selected{
  border-left:.5vmin solid rgb(80, 80, 80);
}



/*login validator style*/

button {
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  transition: 0.3s;
  padding: 10px;

}
button:before {
content: '';
border-bottom: .5vmin solid rgb(80, 80, 80);
padding: 0 10px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: 0 auto;
width: 0;
transition: 0.3s;
}

button:hover:before {
width: 100%;
padding: 0;
}
button:active{
background: rgb(80, 80, 80);
color: white;
transition: none;
}

.cancel:before{
  content: '';
border-bottom: .5vmin solid red;
padding: 0 10px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: 0 auto;
width: 0;
transition: 0.3s;
}

.cancel:focus {
  box-shadow: 0 0 5px red;
  outline: none;
}

.cancel:hover {
  background-color: red;
  color: white;
}

a:hover {
  font-style: bold;
  text-shadow: 2px 2px 7px rgb(0,0,0,.5);
}


.login-container{
  text-align: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
}

.login-container h3{
  color:rgb(105, 105, 105);
  font-style: italic;
}
.button-container {
  display:flex;
  direction:row;
  justify-content: center;
}
h1 {
  margin: 0;
  padding: 4rem 2rem 1rem;
}

input {
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 2px solid rgb(150, 150, 150);
  display: block;
  margin: 1.5rem 0 0.5rem;
  padding: 0.5rem 0;
}

input:focus {
  border-color: rgb(63, 63, 63);
  outline: none;
}

input[type='text'],
input[type='password'] {
  width: 100%;
}

.title {
  font-weight: 100;
}

.form {
  box-shadow: 0px 5px 17.5px 0px rgb(172, 172, 172) ;
  width: 100%;
  margin: auto;
  max-width: 400px;
  text-align: center;
}
.pulse {
  animation: pulse 2.5s infinite;
}
form {
  padding: 1.5rem 2rem;
  text-align: left;
  transition: height 0.5s linear;
  height: 100%;  
}

#hidden {
  height: 100%;
  opacity: 1;  
  transition: height 5s linear;
}

#hidden.hidden {
  /* display: none; */
  height: 0px;
  opacity: 0;
  transition: height 5s linear;
}

@keyframes pulse {
  0% {
		box-shadow: 0px 5px 17.5px 0px  rgba(127, 127, 127, 0.7);
	}

	70% {
		box-shadow: 0px 5px 17.5px 20px  rgba(127, 127, 127, 0);
	}

	100% {
		box-shadow: 0px 5px 17.5px 0px rgba(127, 127, 127, 0);
	}
}

.invalid,
.valid {
  align-items: center;
  display: flex;
  margin: 1rem 0;
}

form ~ .invalid,
form ~ .valid {
  margin: 0;
  padding: 1rem 2rem 2rem;
}

.invalid {
  color: red;
}

.valid {
  color: rgb(34, 34, 34);
}

.invalid::before,
.valid::before {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.menu-switch:before{
  border:none;
}
